.comment_section{
    margin-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
}
.comment_box{
    border-radius: 1vw;
    padding: 2vw;
    width: 90vw;
    box-sizing: border-box;
    background-color: #272735;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header_left{
    display: flex;
    gap: 1vw;
}
.form{
    margin-top: 2vh;
    justify-content: space-between;
    display: flex;
}
.inputbox{
    color: #ffffff;
    box-sizing: border-box;
    padding: calc(8px + 1vw);
    background-color: #222131;
    height: 40px;
    width: 70vw;
    border-radius: 4vw;
    outline: none;
    border: none;
}
.inputtime{
    color: #ffffff;
    box-sizing: border-box;
    background-color: #222131;
    width: 20px;
    height: 40px;
    outline: none;
    border: none;
}
.button{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 64px;
    border-radius: 4vw;
    background-color: #6254FF;
    border: #6254FF 1px ;
}

.comments{
    margin-top: 5vh;
    display: flex;
    gap: 2vw;
    display: flex;
    justify-content: space-between;
}
.comments img{
    width: 40px;
}
.message{
    display: flex;
    gap: 2vw;
}
.comment_unique{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment_desc{
    font-size: 1.2vw;
}
.downarrow{
    width: 1.5vw;
     max-width: 40px;
}
.uparrow{
    width: 1.5vw;
     max-width: 40px;
     transform: rotate(180deg);
}
.hide{
    display: none;
}
.transcriptopen{
    padding-top: 1vw;
}
.transcriptclose{
    display: none;
}