.Navcomp{
    display: flex;
    gap:1vw;
    align-items: center;
}
.Heading-top {
    text-align: center;
    font-size: 2vw;
    color: white;
}
.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 64px;
    border-radius: 0vw 4vw 4vw 0vw;
    background-color: #6254FF;
    border: #6254FF 1px ;
}
.searchicon{
    width: 40%;
}
.search{
    display: flex;
    align-items: center;
}
.searchbox{
    color: #ffffff;
    box-sizing: border-box;
    padding: calc(8px + 1vw);
    background-color: #272735;
    height: 40px;
    width: 24vw;
    border-radius: 4vw 0vw 0vw 4vw;
    outline: none;
    border: none;
}
.Navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
    box-sizing: border-box;
}
.navimg {
    width: 6vh;
    height: 6vh;
}

.search_mobile{
display: none;
}
@media screen and (max-width: 680px) {
    .search{
        display: none;
    }
    .search_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchbox{
        width: 60vw;
    }
}