.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.Music-player {
    display: flex;
    flex-direction: column;

    width: 100vw;
    justify-content: space-evenly;
    padding: 0vh 5vw;
    box-sizing: border-box;
}
.Home {
    background-image: url('../Search/Background-search.png');
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    display: flex;
    background-size: 100vw 500vh;
    flex-direction: column;
    min-height: 100vh;
}
