body {
    margin: 0%;
}
.Heading-top {
    text-align: center;
    font-size: 1.4vw;
    color: white;
}
.Navbar {
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
    box-sizing: border-box;
}
.Navbar img {
    width: 6vh;
    height: 6vh;
}
.Upload-page {
    background-image: url('./Background-search.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 90vw;
    display: flex;
    background-size: 100vw 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0vh 5vw;
}
.User-img {
    display: flex;
    text-align: center;
    font-size: 1.4vw;
    color: white;

    justify-content: space-between;
}
.User-img .div {
    display: flex;
    align-items: center;
    height: 6vh;
    margin-left: 3.5vw;
}
@media screen and (max-width: 800px) {
    .User-img {
        font-size: 2.7vw;
    }
    .Heading-top {
        font-size: 2.7vw;
    }
}
.Upload-item {
    display: flex;
    height: 88vh;
    padding: 0 5vw;
}
.Upload-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
}
.Music-card {
    background: linear-gradient(
        133.38deg,
        #321f3a 18.42%,
        rgba(77, 61, 85, 0.866965) 56.43%,
        rgba(142, 132, 147, 0.551338) 75.05%,
        rgba(255, 255, 255, 0) 107.56%
    );
    filter: drop-shadow(15px 15px 4px #190321);
    width: 18vw !important;
    height: 25vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Music-card img {
    width: 12vw !important;
    height: 12vw !important;
}
.link {
    color: white;
    font-size: 2vw;
    margin-top: 6vh;
    width: 22vw;
    height: 7vh;
    min-height: 30px;
    max-height: 50px;
    padding: 0.5vh 0vw;
    background: rgba(183, 142, 236, 0.59);
    box-shadow: 19px 19px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Upload-item-details {
    width: 65vw;
    height: 88vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.Upload-item-details label {
    width: 20vw;
}
.Upload-item-details div {
    display: flex;
    align-items: flex-start;
}
.Upload-item-details input,
.Upload-item-details textarea {
    fill: none;
    border: 2px solid #c89dff;
    border-radius: 19px;
    background-color: transparent;
    color: #ffffff;
    width: 35vw;
    padding: 0vh 2vw;
}
.Upload-item-details input:focus,
.Upload-item-details textarea:focus {
    outline: none;
}
.Upload-item-details label {
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;

    color: #ffffff;
}
@media screen and (max-width: 800px) {
    .link {
        min-height: 30px;

        max-height: 30px;
    }
}
.title {
    margin-bottom: 8vh;
}
.Yt-link {
    margin-bottom: 8vh;
}
.title input {
    height: 7vh;
    max-height: 40px;
}
.title1 input {
    height: 7vh;
    max-height: 40px;
}
.title1 {
    margin-bottom: 4vh;
}
.Yt-link input {
    height: 7vh;
    max-height: 40px;
}
.Description {
    margin-bottom: 8vh;
}
.Description textarea {
    height: 20vh;
    padding-top: 1vh;
}
.Tags {
    margin-bottom: 8vh;
}
.Tags textarea {
    height: 10vh;
    padding-top: 1vh;
}
.Audioformat {
    margin-bottom: 4vh;
}
.Audioformat select {
    height: 5vh;
    width: 15vw !important;
    background-color: transparent;
    border: 2px solid #c89dff;
    border-radius: 19px;
    color: white;
    box-sizing: border-box;
    padding: 0.5vh 1vw;
}

.Audioformat select:focus {
    border: 2px solid #c89dff;
}
.Audioformat select option {
    color: white;
    background-color: #c89dff;
    border-radius: 19px;
}
.submit-button {
    margin-left: 30vw;
}
.submit-button button {
    height: 5vh;
    width: 15vw !important;
    background-color: transparent;
    border: 2px solid #c89dff;
    border-radius: 19px;
    color: white;
    box-sizing: border-box;
}
