body {
    margin: 0%;
}
.Login-Page {
    background-image: url('./background-login.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-size: 100vw 100vh;
}
.Logo-section {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo-section img {
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
}
.Login-section {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.Logo-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 2vw;
    top: 2vh;
}
.Logo-top img {
    width: 6vh;
    height: 6vh;
}
.Heading-top {
    text-align: center;
    font-size: 1.4vw;
    color: white;
}
.Login-heading {
    font-style: normal;
    margin-bottom: 2vh;

    font-size: 1.8vw;
    color: #ffffff;
}
.Input-type {
    width: 25vw;
    height: 4vh;
    margin-bottom: 6vh;
    background: rgba(235, 219, 255, 0.34);
    border-radius: 30px;
    padding: 0vh 3vw;
    color: #ffffff;
    font-size: 1.5vw;
    min-height: 50px;
    box-sizing: border-box;
}
.Input-type2 {
    width: 25vw;
    height: 4vh;
    margin-bottom: 4vh;
    background: rgba(235, 219, 255, 0.34);
    border-radius: 30px;
    padding: 0vh 3vw;
    color: #ffffff;
    font-size: 1.5vw;
    box-sizing: border-box;

    min-height: 30px;
}
.Input-type:focus {
    outline: none;
}

.Input-type-login {
    width: 20vw;
    height: 4vh;
    padding: 1vh 0vw;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: rgba(235, 219, 255, 0.34);
    min-height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2vh;
}
.Login-section div span {
    color: #a545c8;
}
.Login-section div {
    font-style: normal;
    font-weight: 700;

    color: #ffffff;
}
.Login-section-data {
    height: 51vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.Signin-section-data {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    .Input-type2 {
        min-height: 30px;

        max-height: 30px;
    }
    .Input-type {
        min-height: 30px;

        max-height: 30px;
    }
    .Input-type-login {
        min-height: 40px;
        max-height: 40px;
    }
    .Login-heading,
    .Input-type-login {
        font-size: 4vw;
    }
    .Input-type2 {
        font-size: 3vw;
    }
    .Input-type {
        font-size: 3vw;
    }
    .Heading-top {
        font-size: 2.7vw;
    }
    .Signin-section-data {
        height: 57vh;
    }
    .Login-section-data {
        height: 40vh;
    }
}
.Login-Button {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Register {
    font-size: 2vw;
}
.Button-register {
    display: flex;
    justify-content: center;
}
