body {
    margin: 0%;
    background-image: url('./Background-search.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.Heading-top {
    text-align: center;
    font-size: 1.4vw;
    color: white;
}
.Navbar {
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
    box-sizing: border-box;
}
.Navbar img {
    width: 6vh;
    height: 6vh;
}
.Search-page {
    background-image: url('./Background-search.png');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    background-size: cover;
    margin: 0;
    flex-direction: column;
    align-items: center;
}
.Search-Logo-section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48vh;
    margin-bottom: 5vh;
}
.Search-Logo-section img {
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
}
.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.Search-bar input {
    padding: 2vh 3.5vw;
    height: 5vh;
    box-sizing: border-box;
    min-height: 40px;
    width: 55vw;
    background: rgba(235, 219, 255, 0.34);
    border-radius: 30px;
    font-size: 2vw;
    color: white;
}

.Search-bar input::placeholder {
    color: white;
}
.Search-bar input:focus {
    outline: none;
}

.Search-button {
    background: transparent;
    padding: 0%;
    margin: 0%;
    border: none;
    margin-top: -2vh;

    position: absolute;
}
.Search-button img {
    width: 30px;
    margin-left: 49vw;
    margin-top: -3vh;
}
@media screen and (max-width: 800px) {
    .Search-Logo-section img {
        width: 30vh;
        height: 30vh;
        max-width: 400px;
        max-height: 400px;
    }
    .Search-Logo-section {
        height: 35vh;
        margin-bottom: 5vh;
    }
    .Heading-top {
        font-size: 2.7vw;
    }
    .Search-bar input {
        padding: 2vh 7vw;
        height: 7vh;
        max-height: 40px;
        min-height: 30px;
        width: 70vw;

        font-size: 3vw;
    }
    .Search-button img {
        width: 30px;
        margin-left: 62vw;
        margin-top: -3vh;
    }
}
